<head>
	<meta charset="UTF-8">
	<title><%= title  %></title>
	<link rel="apple-touch-icon" href="http://localhost:1234/content/bike-icon.png">
	<link rel="icon" href="http://localhost:1234/content/bike-icon.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script type="text/javascript" src="js/angular.min.js"></script>

</head>