<header class="header" >
	<div>
		<a href="#">
			<img src="/content/bike-icon.png">
		</a>
		
		<!-- options goes here -->
		<div class="header-options" >
			<% include ../components/headeroptions %>
		</div>

	</div>

</header>