<!doctype html>
<html>
	<% include ../views/components/head %>
<body ng-app="biking-anywhere" >

	<% include ../views/components/header %>

	<% include ../views/homepage/index %>
	
	<% include ../views/components/footer %>

</body>
</html> 