<!doctype html>
<html>
	<% include ../views/components/head %>
<body>

	<% include ../views/components/header %>
	
	<% include ../views/account/index %>
	
	<% include ../views/components/footer %>

</body>
</html> 