<!doctype html>
<html>
	<% include ../components/head %>
<body ng-app="biking-anywhere" >

	<% include ../components/header %>

	<% include ../search/search %>
	
	<% include ../components/footer %>

</body>
</html> 